body {
  font-family: Courier New;
  background: #e0f7fa;
  padding: 40px;
  text-align: center;
}

a {
  display: block;
  margin: 10px;
  color: white;
  background: black;
  padding: 10px;
  border-radius: 5px;
}
